<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>
    <h1>Contacts</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Reason</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact[0] }}</td>
            <td>{{ contact[1] }}</td>
            <td>{{ contact[2] }}</td>
            <td>{{ contact[3] }}</td>
            <td>{{ contact[4] }}</td>
            <td>{{ contact[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>